.skill-box {
    transition: transform 0.3s ease;
}

.skill-box:hover {
    transform: scale(1.1);
}

.fancybox__container {
    z-index: 9999;
}

.fancybox-custom .fancybox__container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 12px;
    padding: 40px;
    width: 600px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.fancybox-custom h2 {
    margin-top: 0;
    font-size: 28px;
    color: #333;
  }
  
  .fancybox-custom p {
    font-size: 18px;
    color: #666;
  }
  
  .fancybox-custom h3 {
    font-size: 20px;
    color: #333;
  }
  
  .fancybox-custom ul {
    font-size: 16px;
    color: #666;
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .fancybox-custom button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .slick-arrow.slick-next,
.slick-arrow.slick-prev{
background-color: #428cff;
height:25px;
width: 25px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
opacity: 0.8;
height:30px;
width:30px;
}

.slick-arrow.slick-next:hover,
.slick-arrow.slick-prev:hover
{
    background-color: #2574f5;
    opacity:1;
}


.slick-prev::before,.slick-next::before{
   display:none;
    
    }

.arrows{
height:20px;
width:20px;
margin: 1px;

}